// Сброс стилей
@import 'normalize.scss';
@import "container.scss";
@import '_variables.scss';

* {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

body {
  //background-color: hsla(66,30%,75%,.5);
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: $black;
}

button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $black
}
